<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between">
          <a class="jc-center flex" href="/">
            <img class="logo" src="/images/logo.png" alt="Logo" />
            <h2>INFINITY</h2>
          </a>
          <nav>
            <ul class="flex jc-around">
              <li>
                <a href="/about"> About Us </a>
              </li>
              <li>
                <a href="/gallery"> Gallery </a>
              </li>
              <li>
                <a href="/events"> Events </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1>Welcome to Infinity Event Management</h1>
      </div>
    </header>
  </body>
</html>
