<% include partials/header %>
<div class="container space">
  <div class="grid">
    <article>
      <h3>Sports</h3>
      <img class="circle" src="/images/home/sports.jpg" alt="Sports" />
      <p class="margin">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet neque
        cumque voluptatem tempora doloremque laboriosam. Voluptates quidem
        sapiente quod, sit est deleniti aperiam excepturi dolor facilis vitae
        quae, vel non.
      </p>
    </article>
    <article>
      <h3>Corporate Events</h3>
      <img
        class="circle"
        src="/images/home/corporate-events.jpg"
        alt="corporate-events"
      />
      <p class="margin">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit vel
        dolorum nisi itaque nihil ipsam ab ut et consequuntur exercitationem
        excepturi eius, molestiae at, quo totam voluptate facere! Suscipit,
        accusamus?
      </p>
    </article>
    <article>
      <h3>Social Gathering</h3>
      <img
        class="circle"
        src="/images/home/social-gathering.jpg"
        alt="social-gathering"
      />
      <p class="margin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo
        adipisci asperiores, ad, nostrum velit consequuntur ex totam maxime
        blanditiis tenetur autem voluptate alias dolorum molestiae dolor vitae
        iure veniam!
      </p>
    </article>
    <article>
      <h3>Treaking</h3>
      <img class="circle" src="/images/home/treaking.jpg" alt="treaking" />
      <p class="margin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi debitis et
        numquam non odio. Deleniti, minima qui doloremque magni, officiis
        quisquam quidem a, impedit placeat expedita beatae saepe blanditiis
        voluptatibus.
      </p>
    </article>
  </div>
</div>
<% include partials/footer %>
